@font-face {
    font-family: "Nunito";
    src: url("./assests/Nunito-Bold.ttf");
}

body {
    display: flex;
    font-family: Nunito;
}

.card {
    padding: 20px;
    background-color: #4b4b63;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.visor {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 4px;
}

.cima {
    font-size: 22px;
    color: grey;
}

.botoesBox {
    display: flex;
}

.botao, .tbotao {
    box-sizing: border-box;
    margin: 4px;
    color: white;
    text-align: center;
    background-color: #39304d;
    padding: 15px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    transition: 0.1s;
}

.botao:hover, .tbotao:hover {
    background-color: #2e273d;
}

.enter {
    width: 108px;
}